html{
    background-color: #ddd;
    overflow-y: scroll;
    font-family: "Arial";
    color: #222;
}
.header{
    background-color: #759;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:75px;
    z-index: 1;
}
.Title{
    position: fixed;
    top: 0;
    left: 0;
    line-height: 5px;
    height: 50px;
    width: 300px;
    background-color: #759;
    z-index: 2;
}
#name{
    font-size: 200%;
}
#MidOfHead{
    display: inline-block;
    margin: 0px 10px 3px;
}
.TitleBlock{
    padding-top: 75px;
}
.content{
    margin-left: 20px;
    padding-left: 30px;
    border-left: 2px solid #537;
}
button{
    margin: 10px 5px;
    border: none;
    border-top: 2px solid #333;
    width: 10%;
    height: 35%;
    background-color: #bbb;
}
hr{
    width: 95%;
}
.mid{
    width: 80%;
}
.small{
    width: 1%;
}
h1{
    padding-left: 5%;
}
.smallTab{
    width: 133px;
}
#SketchDiv img{
    float: left;
    padding: 5px;
    height: 200px;
    display: block;
}
#BlenderDiv img{
    float: left;
    padding: 5px;
    height: 200px;
    display: block;
}
#Display{
    background-color: #222;
    background-color: rgba(0,0,0,0);
    display: none;
    position: absolute;
    margin-bottom: 60px;
}
#Display button{
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 75px;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
}
button:hover{
    background-color:#a9a !important;
}
#BlurDiv{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    display: none;
}
a:visited{
    color: #338;
}
li p{
    margin-left: 20px;
}